html {
  font-size: 61.2%;
  background-color: $background-color;
  color: $black;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  padding: 3em 4em;
  margin: 20px 20px;
  border: 1px solid $black;
  width: 100vw;

  img:hover {
    cursor: zoom-in;
  }

  @media screen and (max-width: 412px) {
    padding: 3em 2em 2em 2em;
    margin: 15px 15px;
  }
}
