/* Base colors*/
$background-color: #fdfbf5;
$black: #191919;
$gray: #747371;
$white: #ffffff;

/* Font families*/
$body-font: var(--satoshi);
$fav-font: var(--neueMechanica);
$heading-font: var(--robotoMono);
