.home-latest-posts-section {
  min-height: 55lvh;
  .latest-posts-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-family: $fav-font;
      color: $black;
      font-size: 6rem;
      text-transform: uppercase;
    }
  }

  .horizontal-separator {
    margin: 3em 0em 6em 0em;
  }

  .posts-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    gap: 5em;

    .horizontal-separator {
      display: none;
    }
  }

  @media screen and (max-width: 890px) {
    .posts-container :nth-child(n + 5) {
      display: none;
    }

    .posts-container {
      grid-template-columns: 1fr 1px 1fr;
    }
  }

  @media screen and (max-width: 554px) {
    .posts-container {
      gap: 3em;
    }
  }

  @media screen and (max-width: 490px) {
    .latest-posts-headline {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 2em;

      h2 {
        font-size: 4rem;
      }
    }

    .posts-container :nth-child(n + 5) {
      display: block;
    }

    .posts-container {
      grid-template-columns: none;

      .horizontal-separator {
        display: block;
        margin: 0;
      }

      .vertical-separator {
        display: none;
      }
    }

    .little-blog:nth-child(7) {
      display: flex;
    }
  }
}
