nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7em;

  .logo {
    font-family: $fav-font;
    color: $black;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
  }

  .linksWrapper {
    display: flex;
    align-items: center;
    gap: 3em;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 4em;
    margin-right: 1em;

    a {
      position: relative;
      font-family: $body-font;
      color: $black;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;

      &::after {
        content: "";
        pointer-events: none;
        bottom: -10px;
        left: 0%;
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: $black;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 500ms;
        transition-property: width, left;
      }

      &:focus::after,
      &:hover::after {
        width: 100%;
      }
    }

    .lets-talk {
      width: 10em;
      height: 2.5em;
      color: $white;
      background-color: $black;
      border-radius: 0.3em;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .one {
        display: flex;
        overflow: hidden;
      }

      &:hover .one {
        position: absolute;
      }

      &:hover .one span {
        transform: translateY(1.5em);
      }

      .one span:nth-child(1) {
        transition: 0.2s;
      }

      .one span:nth-child(2) {
        transition: 0.3s;
      }

      .one span:nth-child(3) {
        transition: 0.4s;
      }

      .one span:nth-child(4) {
        transition: 0.5s;
      }

      .one span:nth-child(5) {
        transition: 0.6s;
      }

      .one span:nth-child(6) {
        transition: 0.7s;
      }

      .one span:nth-child(7) {
        transition: 0.8s;
      }

      .one span:nth-child(8) {
        transition: 0.8s;
      }

      .one span:nth-child(9) {
        transition: 1s;
      }

      .one span:nth-child(10) {
        transition: 1.1s;
      }

      .two {
        display: flex;
        position: absolute;
        overflow: hidden;
      }

      .two span {
        transform: translateY(-1.5em);
      }

      &:hover .two span {
        transform: translateY(0);
      }

      .two span {
        transition: 0.2s;
      }

      .two span:nth-child(2) {
        transition: 0.3s;
      }

      .two span:nth-child(3) {
        transition: 0.4s;
      }

      .two span:nth-child(4) {
        transition: 0.5s;
      }

      .two span:nth-child(5) {
        transition: 0.6s;
      }

      .two span:nth-child(6) {
        transition: 0.7s;
      }

      .two span:nth-child(7) {
        transition: 0.8s;
      }

      .two span:nth-child(8) {
        transition: 0.9s;
      }

      .two span:nth-child(9) {
        transition: 1s;
      }

      .two span:nth-child(10) {
        transition: 1.1s;
      }

      &::after {
        width: 0px;
        height: 0px;
      }
    }
  }

  .vertical-bar {
    width: 1px;
    height: 3.5em;
    background-color: $black;
    margin-right: 1em;
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 1em;

    a {
      font-family: $body-font;
      color: $black;
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid $black;
      border-radius: 100%;
      width: 2.5em;
      height: 2.5em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .horizontal-bar {
    width: 100%;
    height: 1px;
    background-color: $black;
    position: absolute;
    top: 7em;
  }

  svg {
    display: none;
  }

  //media queries
  @media screen and (max-width: 915px) {
    .linksWrapper .links .link {
      display: none;
    }
    svg {
      display: block;
      height: 4em;
      width: 4em;
      cursor: pointer;
      path {
        fill: $black;
        stroke-width: 1px;
      }

      .line {
        fill: none;
        stroke: $black;
        stroke-width: 3;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 3;
      }
      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 3;
      }
      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 3;
      }
    }
    .active-hamburger .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 3;
    }
    .active-hamburger .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 3;
    }
    .active-hamburger .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 3;
    }
  }

  @media screen and (max-width: 676px) {
    .logo {
      margin-top: 0.3em;
    }
    .linksWrapper {
      gap: 1em;
    }
    .socials {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .links {
      display: none;
    }
    .vertical-bar {
      display: none;
    }
  }
}
