.single-blog-page {
  .single-blog-page-hero {
    min-height: 55vh;
    display: grid;
    grid-template-columns: 0.33fr 1fr 1px 0.33fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 5em;

    .infos-container {
      display: flex;
      flex-direction: column;

      gap: 2em;

      h1 {
        font-family: $fav-font;
        font-size: 8rem;
      }

      p {
        font-family: $body-font;
        font-weight: 300;
        font-size: 2.4rem;
        line-height: 1.2em;
      }
    }

    .blog-details-container {
      display: flex;
      flex-direction: column;
      gap: 2.5em;

      .work-detail {
        display: flex;
        flex-direction: column;
        gap: 1em;
        p {
          font-family: $body-font;
          font-size: 1.6rem;
          text-transform: uppercase;
        }
      }

      .work-detail .title {
        opacity: 0.3;
        font-size: 1.7rem;
      }

      .work-details-services {
        display: flex;
        align-items: center;
        gap: 1em 2em;
        flex-wrap: wrap;
      }
    }

    @media screen and (max-width: 991px) {
      grid-row-gap: 5rem;
      grid-template-columns: 1fr 1px 0.33fr;
      grid-template-areas:
        "button button button"
        "content separator details";

      a {
        grid-area: button;
      }

      .vertical-separator {
        grid-area: separator;
      }

      .infos-container {
        grid-area: content;

        h1 {
          font-size: 6rem;
        }

        p {
          font-size: 2.2rem;
        }
      }

      .blog-details-container {
        grid-area: details;
      }
    }

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      gap: 4em;

      .vertical-separator {
        width: 100%;
        height: 1px;
      }
    }

    @media screen and (max-width: 472px) {
      .infos-container {
        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 2rem;
        }
      }
    }
  }

  .blog-image-container {
    margin-block: 7em;
    width: 100%;
    height: 55vw;
    border-radius: 15px;

    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .blog-content {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 0.33fr 1fr 1px 0.33fr;
    grid-template-areas: ". middle bar right";
    gap: 5em;

    .middle {
      grid-area: middle;
      h6 {
        font-family: $fav-font;
        font-size: 4rem;
        margin-bottom: 0.1em;
      }
      p {
        margin-bottom: 0.6em;
        font-family: $body-font;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.2em;
      }
    }

    .vertical-separator {
      grid-area: bar;
    }
    .horizontal-separator {
      grid-area: bar;
      display: none;
    }

    .right {
      grid-area: right;
      .blog-sidebar-container {
        position: sticky;
        top: 2em;
        display: flex;
        flex-direction: column;
        gap: 4em;

        .work-detail {
          display: flex;
          flex-direction: column;
          gap: 1em;
        }

        .work-detail .author {
          font-family: $fav-font;
          font-size: 2rem;
        }

        .work-detail .author-note {
          font-family: $body-font;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2em;
        }

        .work-detail .title {
          font-family: $body-font;
          opacity: 0.3;
          font-size: 1.7rem;
          text-transform: uppercase;
        }

        .work-detail .links-container {
          display: flex;
          align-items: center;
          gap: 1em;

          a {
            display: grid;
            place-content: center;
            font-family: $body-font;
            color: $black;
            font-size: 1.4rem;
            text-decoration: none;
            border: 1px solid $black;
            border-radius: 100%;
            width: 2.8em;
            aspect-ratio: 1/1;
            transition: all 0.4s ease;

            &:hover {
              color: $white;
              background-color: $black;
            }
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr 1px 0.33fr;
      grid-template-areas: "middle bar right";
    }

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;

      .vertical-separator {
        display: none;
      }

      .horizontal-separator {
        display: block;
        width: 100%;
        height: 1px;
      }
    }

    @media screen and (max-width: 600px) {
      min-height: 100vh;
      .middle {
        h6 {
          font-size: 3rem;
        }

        p {
          margin-bottom: 1em;
        }
      }
    }

    @media screen and (max-width: 412px) {
      .middle {
        h6 {
          font-size: 2.6rem;
        }

        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}
