footer {
  .footer-container {
    min-height: 25lvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: 1.8em;

    p {
      text-align: center;
      font-family: $body-font;
      color: $black;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 1.2em;
      max-width: 30em;
    }
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4em;

    svg {
      width: 5.5em;
      height: 5.5em;
    }

    h2 {
      font-family: $fav-font;
      color: $black;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }

  .bottom {
    display: flex;
    gap: 1.5em;

    a {
      font-family: $heading-font;
      color: $black;
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid $black;
      border-radius: 100%;
      width: 2.5em;
      height: 2.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease;

      &:hover {
        color: $white;
        background-color: $black;
      }
    }
  }

  .horizontal-bar {
    background-color: $black;
    width: 100%;
    height: 1px;
    margin: 5em auto 3em auto;
    display: block;
  }

  .copyright {
    p {
      font-family: $fav-font;
      font-size: 1.6rem;
      color: $black;
      line-height: 2.5rem;
      text-transform: uppercase;
      text-align: center;
    }
  }

  @media screen and (max-width: 491px) {
    .top {
      p {
        font-size: 1.6rem;
      }
    }
  }
}
