.our-clients-section {
  display: grid;
  grid-template-columns: 0.4fr 1px 1fr;
  gap: 4em;
  align-items: center;

  h2 {
    font-family: $body-font;
    color: $black;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .vertical-bar {
    width: 1px;
    height: 7em;
    background-color: $black;
  }

  .clients-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 6em;
      height: 6em;
    }
  }

  @media screen and (max-width: 990px) {
    align-items: flex-start;
    height: 100%;
    .vertical-bar {
      height: 31em;
    }
    .clients-logo-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5em;

      svg {
        width: 7em;
        height: 7em;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 777px) {
    display: flex;
    flex-direction: column;

    .vertical-bar {
      display: none;
    }

    .clients-logo-container {
      width: 100%;
    }
  }
}
