.home {
  .horizontal-bar {
    background-color: $black;
    width: 100%;
    height: 1px;
    margin: 5em auto;
    display: block;
  }
}

// HERO SECTION
.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10em;
  .info-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-family: $fav-font;
      color: $black;
      font-size: 6rem;
      font-weight: 400;
    }
    p {
      margin-top: 0.6em;
      font-family: $body-font;
      color: $black;
      font-size: 1.8rem;
      line-height: 2.2rem;
      font-weight: 400;
    }
    svg {
      width: 12em;
      height: 12em;
      justify-self: flex-end;
    }
  }
  .video-container {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 916px) {
    flex-direction: column;
    gap: 7em;
    .info-container {
      width: 100%;
      h1 {
        font-size: 6rem;
      }
      p {
        margin-top: 1em;
      }
      svg {
        margin-top: 3em;
      }
    }

    .video-container {
      height: 40vh;
    }
  }
  @media screen and (max-width: 500px) {
    gap: 5em;
    .info-container {
      h1 {
        font-size: 3.8rem;
      }
      p {
        margin-top: 1em;
      }
    }
  }
  @media screen and (max-width: 412px) {
    .info-container {
      h1 {
        font-size: 2.8rem;
      }
      p {
        font-size: 1.4rem;
      }
      svg {
        width: 8em;
        height: 8em;
      }
    }
  }
}

// OUR CLIENTS SECTION
.our-client-container {
  display: flex;
  align-items: center;
  gap: 5em;
  width: 100%;
  justify-content: space-between;

  h2 {
    font-family: $body-font;
    color: $black;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .vertical-bar {
    width: 1px;
    height: 7em;
    background-color: $black;
  }

  .clients-logo-container {
    width: 70%;
    gap: 5em;
    justify-content: space-between;
    display: flex;
    align-items: center;

    svg {
      width: 6em;
      height: 6em;
    }
  }

  @media screen and (max-width: 990px) {
    align-items: flex-start;
    height: 100%;
    .vertical-bar {
      height: 31em;
    }
    .clients-logo-container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      svg {
        width: 7em;
        height: 7em;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 777px) {
    flex-direction: column;

    .vertical-bar {
      display: none;
    }

    .clients-logo-container {
      width: 100%;
    }
  }
}

// WHAT WE DO SECTION
.what-we-do-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 0.46fr 1px 1fr;
  grid-template-columns: 0.46fr 1px 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin: 5em 0em;
  h2 {
    font-family: $body-font;
    color: $black;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .vertical-bar {
    width: 1px;
    height: 100%;
    background-color: $black;
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7em;
  }

  .services-row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr 1px 1fr;
    grid-template-columns: 1fr 1px 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .service {
    display: flex;
    align-items: flex-start;
    gap: 2.5em;
    padding: 2em 1em;

    svg {
      width: 7em;
      height: 7em;
    }
  }

  .service-infos {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    width: 80%;
    h5 {
      font-family: $fav-font;
      color: $black;
      font-size: 2.2rem;
      text-transform: uppercase;
    }
    p {
      font-family: $body-font;
      color: $black;
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-weight: 300;
    }
  }

  .service-vertical-bar {
    height: 100%;
    width: 1px;
    background-color: $black;
    display: block;
  }

  .service-horizontal-bar {
    width: 100%;
    height: 1px;
    background-color: $black;
  }

  @media screen and (max-width: 990px) {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    -ms-grid-columns: 0.25fr 1px 1.1fr;
    grid-template-columns: 0.25fr 1px 1.1fr;

    .services-container {
      gap: 4em;
    }

    .services-row {
      display: flex;
      flex-direction: column;
    }

    .service-vertical-bar {
      height: 1px;
      width: 100%;
    }

    .service-infos {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      width: 100%;
    }
  }

  @media screen and (max-width: 777px) {
    display: flex;
    flex-direction: column;
    .vertical-bar {
      display: none;
    }
  }

  @media screen and (max-width: 479px) {
    margin: 0px;
    gap: 5em;
    .service {
      flex-direction: column;
      padding: 0px;
    }
    .services-container {
      gap: 3em;
    }
    .services-row {
      gap: 3em;
    }
  }
}
