.home {
  .horizontal-bar {
    background-color: $black;
    width: 100%;
    height: 1px;
    margin: 5em auto;
    display: block;
  }
}

// HERO SECTION
.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10em;
  .info-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-family: $fav-font;
      color: $black;
      font-size: 6.5rem;
      font-weight: 400;
    }
    p {
      margin-top: 0.6em;
      font-family: $body-font;
      color: $black;
      font-size: 1.8rem;
      line-height: 2.2rem;
      font-weight: 400;
    }
    svg {
      width: 12em;
      height: 12em;
      justify-self: flex-end;
    }
  }
  .video-container {
    width: 100%;
    height: 60em;
    border-radius: 10px;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 970px) {
    flex-direction: column;
    height: auto;
    gap: 7em;
    .info-container {
      width: 100%;
      h1 {
        font-size: 6rem;
      }
      p {
        margin-top: 1em;
      }
      svg {
        margin-top: 3em;
      }
    }

    .video-container {
      height: 80vw;
    }
  }
  @media screen and (max-width: 500px) {
    gap: 5em;
    .info-container {
      h1 {
        font-size: 3.8rem;
      }
      p {
        margin-top: 1em;
        font-weight: 300;
      }
    }
  }
  @media screen and (max-width: 412px) {
    .info-container {
      h1 {
        font-size: 2.8rem;
      }
      p {
        font-size: 1.9rem;
        line-height: 1.3em;
      }
      svg {
        width: 8em;
        height: 8em;
      }
    }
  }
}

// OUR CLIENTS SECTION
.our-client-container {
  display: flex;
  align-items: center;
  gap: 5em;
  padding: 2em 0em;
  width: 100%;
  justify-content: space-between;

  h2 {
    font-family: $body-font;
    color: $black;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .vertical-bar {
    width: 1px;
    height: 7em;
    background-color: $black;
  }

  .clients-logo-container {
    width: 70%;
    gap: 5em;
    justify-content: space-between;
    display: flex;
    align-items: center;

    svg {
      width: 6em;
      height: 6em;
    }
  }

  @media screen and (max-width: 990px) {
    align-items: flex-start;
    height: 100%;
    .vertical-bar {
      height: 31em;
    }
    .clients-logo-container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      svg {
        width: 7em;
        height: 7em;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 777px) {
    flex-direction: column;
    padding: 1.5em 0em;

    .vertical-bar {
      display: none;
    }

    .clients-logo-container {
      width: 100%;
    }
  }
}

// WHAT WE DO SECTION
.what-we-do-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 0.6fr 1px 1fr;
  grid-template-columns: 0.6fr 1px 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding: 3em 0em;
  h2 {
    font-family: $body-font;
    color: $black;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .vertical-bar {
    width: 1px;
    height: 100%;
    background-color: $black;
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7em;
  }

  .services-row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr 1px 1fr;
    grid-template-columns: 1fr 1px 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .service {
    display: flex;
    align-items: flex-start;
    gap: 2.5em;
    padding: 2em 1em;

    svg {
      width: 7em;
      height: 7em;
    }
  }

  .service-infos {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    width: 80%;
    h5 {
      font-family: $fav-font;
      color: $black;
      font-size: 2.2rem;
      text-transform: uppercase;
    }
    p {
      font-family: $body-font;
      color: $black;
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-weight: 300;
    }
  }

  .service-vertical-bar {
    height: 100%;
    width: 1px;
    background-color: $black;
    display: block;
  }

  .service-horizontal-bar {
    width: 100%;
    height: 1px;
    background-color: $black;
  }

  @media screen and (max-width: 990px) {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    -ms-grid-columns: 0.25fr 1px 1.1fr;
    grid-template-columns: 0.25fr 1px 1.1fr;

    .services-container {
      gap: 4em;
    }

    .services-row {
      display: flex;
      flex-direction: column;
    }

    .service-vertical-bar {
      height: 1px;
      width: 100%;
    }

    .service-infos {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      width: 100%;
    }
  }

  @media screen and (max-width: 777px) {
    display: flex;
    padding: 1.5em 0em;
    flex-direction: column;
    .vertical-bar {
      display: none;
    }
  }

  @media screen and (max-width: 479px) {
    margin: 0px;
    gap: 5em;
    .service {
      flex-direction: column;
      gap: 1.5em;
      padding: 0px;

      svg {
        width: 5em;
        height: 5em;
      }
    }
    .services-container {
      gap: 3em;
      h5 {
        font-size: 2rem;
      }
      p {
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.2em;
      }
    }
    .services-row {
      gap: 3em;
    }
  }
}

// FEATURED WORK SECTION
.featured-work {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 0.6fr 1px 1fr;
  grid-template-columns: 0.6fr 1px 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding: 3em 0em;

  a {
    text-decoration: none;
  }

  img {
    border-radius: 10px;
  }

  .left-container {
    h2 {
      font-family: $body-font;
      color: $black;
      text-transform: uppercase;
      font-size: 6rem;
      margin-bottom: 0.4em;
    }
    p {
      font-family: $body-font;
      font-weight: 300;
      color: $black;
      font-size: 2.6rem;
      line-height: 1.2em;
      margin-bottom: 1.8em;
    }
  }

  .see-all-work {
    text-decoration: none;
    width: 10em;
    height: 2.6em;
    color: $white;
    background-color: $black;
    border-radius: 8px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $body-font;
    font-size: 1.6rem;
    text-transform: uppercase;

    .one {
      display: flex;
      overflow: hidden;
    }

    &:hover .one {
      position: absolute;
    }

    &:hover .one span {
      transform: translateY(1.5em);
    }

    .one span:nth-child(1) {
      transition: 0.2s;
    }

    .one span:nth-child(2) {
      transition: 0.3s;
    }

    .one span:nth-child(3) {
      transition: 0.4s;
    }

    .one span:nth-child(4) {
      transition: 0.5s;
    }

    .one span:nth-child(5) {
      transition: 0.6s;
    }

    .one span:nth-child(6) {
      transition: 0.7s;
    }

    .one span:nth-child(7) {
      transition: 0.8s;
    }

    .one span:nth-child(8) {
      transition: 0.8s;
    }

    .one span:nth-child(9) {
      transition: 1s;
    }

    .one span:nth-child(10) {
      transition: 1.1s;
    }

    .one span:nth-child(11) {
      transition: 1.15s;
    }

    .one span:nth-child(12) {
      transition: 1.2s;
    }

    .two {
      display: flex;
      position: absolute;
      overflow: hidden;
    }

    .two span {
      transform: translateY(-1.5em);
    }

    &:hover .two span {
      transform: translateY(0);
    }

    .two span {
      transition: 0.1s;
    }

    .two span:nth-child(2) {
      transition: 0.2s;
    }

    .two span:nth-child(3) {
      transition: 0.3s;
    }

    .two span:nth-child(4) {
      transition: 0.4s;
    }

    .two span:nth-child(5) {
      transition: 0.5s;
    }

    .two span:nth-child(6) {
      transition: 0.6s;
    }

    .two span:nth-child(7) {
      transition: 0.7s;
    }

    .two span:nth-child(8) {
      transition: 0.8s;
    }

    .two span:nth-child(9) {
      transition: 0.9s;
    }

    .two span:nth-child(10) {
      transition: 1s;
    }

    .two span:nth-child(11) {
      transition: 1.15s;
    }

    .two span:nth-child(12) {
      transition: 1.2s;
    }
  }

  .featured-horizontal-bar {
    background-color: $black;
    display: block;
    width: 1px;
  }

  .right-container {
    display: flex;
    flex-direction: column;
    gap: 2em 3em;
  }

  .project-details-container {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name {
      font-family: $fav-font;
      color: $black;
      font-size: 2rem;
    }
    .date {
      font-family: $body-font;
      color: $black;
      font-weight: 400;
      font-size: 1.6rem;
    }
  }

  .top-project-container {
    width: 100%;
    img {
      width: 100%;
      height: 95%;

      object-fit: cover;
    }
  }

  .right-container-horizontal-bar {
    background-color: $black;
    width: 100%;
    height: 1px;
    display: block;
    margin: 3em auto;
  }

  .bottom-projects-container {
    display: grid;
    gap: 5em;
    grid-template-areas:
      "first-row"
      "second-row";
  }

  .bottom-projects-row {
    display: grid;
    gap: 5em;
    grid-template-columns: 1fr 1px 1fr;
  }

  .bottom-projects-row-bar {
    background-color: $black;
    width: 1px;
    height: 100%;
    display: block;
  }

  .single-project-container {
    width: 100%;
    img {
      width: 100%;
      height: 90%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 970px) {
    .right-container {
      display: flex;
      flex-direction: column;
      gap: 5em 0em;
    }
    .right-container-horizontal-bar {
      display: none;
    }
    .bottom-projects-row-bar {
      display: none;
    }
    .bottom-projects-row {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 772px) {
    display: flex;
    flex-direction: column;
    .featured-horizontal-bar {
      display: none;
    }
  }

  @media screen and (max-width: 412px) {
    gap: 5em;
    .left-container {
      h2 {
        font-size: 5rem;
        margin-bottom: 0.4em;
      }
      p {
        font-size: 2.2rem;
        font-weight: 300;
      }
    }
    .right-container {
      gap: 3em;
    }

    .bottom-projects-container {
      gap: 3em;
    }

    .bottom-projects-row {
      gap: 3em;
    }

    .top-project-container {
      height: 25em;
      img {
        height: 80%;
      }
    }

    .single-project-container {
      height: 25em;
      img {
        height: 80%;
      }
    }
  }
}

//HOW WE WORK
.how-we-work {
  display: grid;
  grid-template-columns: 1fr 1px 0.4fr;
  gap: 5em;
  min-height: 75vh;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-family: $body-font;
      color: $black;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 3em;
    }

    h5 {
      font-family: $fav-font;
      color: $black;
      font-size: 7rem;
      font-weight: 400;
    }

    svg {
      width: 10em;
      height: 10em;
    }
  }

  .how-we-work-vertical {
    background-color: $black;
    height: 100%;
    width: 1px;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-family: $body-font;
      color: $black;
      font-size: 2rem;
      line-height: 1.4em;
      font-weight: 300;
    }

    .my-services {
      text-decoration: none;
      width: 10em;
      height: 2.6em;
      color: $white;
      background-color: $black;
      border-radius: 8px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $body-font;
      font-size: 1.6rem;
      text-transform: uppercase;

      .one {
        display: flex;
        overflow: hidden;
      }

      &:hover .one {
        position: absolute;
      }

      &:hover .one span {
        transform: translateY(1.5em);
      }

      .one span:nth-child(1) {
        transition: 0.2s;
      }

      .one span:nth-child(2) {
        transition: 0.3s;
      }

      .one span:nth-child(3) {
        transition: 0.4s;
      }

      .one span:nth-child(4) {
        transition: 0.5s;
      }

      .one span:nth-child(5) {
        transition: 0.6s;
      }

      .one span:nth-child(6) {
        transition: 0.7s;
      }

      .one span:nth-child(7) {
        transition: 0.8s;
      }

      .one span:nth-child(8) {
        transition: 0.8s;
      }

      .one span:nth-child(9) {
        transition: 1s;
      }

      .one span:nth-child(10) {
        transition: 1.1s;
      }

      .one span:nth-child(11) {
        transition: 1.15s;
      }

      .two {
        display: flex;
        position: absolute;
        overflow: hidden;
      }

      .two span {
        transform: translateY(-1.5em);
      }

      &:hover .two span {
        transform: translateY(0);
      }

      .two span {
        transition: 0.1s;
      }

      .two span:nth-child(2) {
        transition: 0.2s;
      }

      .two span:nth-child(3) {
        transition: 0.3s;
      }

      .two span:nth-child(4) {
        transition: 0.4s;
      }

      .two span:nth-child(5) {
        transition: 0.5s;
      }

      .two span:nth-child(6) {
        transition: 0.6s;
      }

      .two span:nth-child(7) {
        transition: 0.7s;
      }

      .two span:nth-child(8) {
        transition: 0.8s;
      }

      .two span:nth-child(9) {
        transition: 0.9s;
      }

      .two span:nth-child(10) {
        transition: 1s;
      }

      .two span:nth-child(11) {
        transition: 1.15s;
      }
    }
  }

  @media screen and (max-width: 970px) {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1px 0.4fr;
    grid-template-areas:
      "left"
      "center"
      "right ";
    .left {
      grid-area: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        margin-bottom: 2em;
      }

      h5 {
        font-size: 6rem;
      }

      svg {
        width: 8.5em;
        height: 8.5em;
      }
    }

    .how-we-work-vertical {
      grid-area: center;
      height: 1px;
      width: 100%;
      margin: 0;
    }

    .right {
      grid-area: right;
    }
  }

  @media screen and (max-width: 585px) {
    .left {
      gap: 10em;
    }
    .right {
      gap: 4em;
    }
  }

  @media screen and (max-width: 443px) {
    .left h5 {
      font-size: 4rem;
    }
  }
}

//OUR VALUES
.our-values-container {
  min-height: 75vh;

  .our-values-headline {
    font-family: $fav-font;
    color: $black;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
  }

  .values-headline-separator {
    height: 1px;
    width: 100%;
    background-color: $black;
    margin: 3em 0em 6em 0em;
    display: block;
  }

  .values-bottom-container {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: 7em;
  }

  .left {
    height: 75vh;
    width: 100%;
    border-radius: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  .values-bottom-separator {
    background-color: $black;
    height: 100%;
    width: 1px;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .right-item {
    display: grid;
    grid-template-columns: 0.18fr 1fr;
  }

  .number {
    width: 45px;
    height: 45px;
    border: 1px solid $black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $body-font;
    font-weight: 400;
    font-size: 1.8rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    h5 {
      font-family: $body-font;
      color: $black;
      font-size: 3.2rem;
      text-transform: uppercase;
    }

    p {
      font-family: $body-font;
      color: $black;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.2em;
    }
  }

  .right-item-separator {
    width: 100%;
    height: 1px;
    background-color: $black;
    display: block;
  }

  @media screen and (max-width: 991px) {
    .values-bottom-container {
      display: flex;
      flex-direction: column;
    }

    .left {
      height: 60vh;
    }

    .values-bottom-separator {
      display: none;
    }

    .right {
      min-height: 50vh;
    }

    .right-item {
      grid-template-columns: 100px 1fr;
    }

    .content {
      width: 100%;
    }
  }

  @media screen and (max-width: 679px) {
    .right {
      min-height: 55vh;
      gap: 4em;
    }

    .number {
      font-size: 1.6rem;
    }

    .content {
      h5 {
        font-size: 2.8rem;
      }
    }
  }

  @media screen and (max-width: 512px) {
    .our-values-headline {
      font-size: 4rem;
    }
    .right-item {
      grid-template-columns: 80px 1fr;
    }
    .content {
      p {
        font-size: 1.8rem;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .right {
      min-height: 60vh;

      .content {
        h5 {
          font-size: 2.6rem;
        }
      }
    }
  }

  @media screen and (max-width: 347px) {
    .right {
      min-height: 80vh;

      .content {
        h5 {
          font-size: 2.3rem;
        }
      }
    }
  }
}

//HOME CONTACT
.home-contact-container {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1px 0.4fr;
  gap: 5em;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
      width: 8em;
      height: 8em;
    }
  }

  .left-content {
    display: flex;
    flex-direction: column;

    h2 {
      font-family: $body-font;
      color: $black;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 3em;
    }

    h5 {
      font-family: $fav-font;
      color: $black;
      font-size: 7rem;
      font-weight: 400;
    }
  }

  .home-contact-separator {
    height: 100%;
    width: 100%;
    background-color: $black;
    display: block;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-family: $body-font;
      color: $black;
      font-size: 2rem;
      line-height: 1.4em;
      font-weight: 300;
    }
  }

  .my-services {
    text-decoration: none;
    width: 10em;
    height: 2.6em;
    color: $white;
    background-color: $black;
    border-radius: 8px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $body-font;
    font-size: 1.6rem;
    text-transform: uppercase;

    .one {
      display: flex;
      overflow: hidden;
    }

    &:hover .one {
      position: absolute;
    }

    &:hover .one span {
      transform: translateY(1.5em);
    }

    .one span:nth-child(1) {
      transition: 0.2s;
    }

    .one span:nth-child(2) {
      transition: 0.3s;
    }

    .one span:nth-child(3) {
      transition: 0.4s;
    }

    .one span:nth-child(4) {
      transition: 0.5s;
    }

    .one span:nth-child(5) {
      transition: 0.6s;
    }

    .one span:nth-child(6) {
      transition: 0.7s;
    }

    .one span:nth-child(7) {
      transition: 0.8s;
    }

    .one span:nth-child(8) {
      transition: 0.8s;
    }

    .one span:nth-child(9) {
      transition: 1s;
    }

    .one span:nth-child(10) {
      transition: 1.1s;
    }

    .one span:nth-child(11) {
      transition: 1.15s;
    }

    .two {
      display: flex;
      position: absolute;
      overflow: hidden;
    }

    .two span {
      transform: translateY(-1.5em);
    }

    &:hover .two span {
      transform: translateY(0);
    }

    .two span {
      transition: 0.1s;
    }

    .two span:nth-child(2) {
      transition: 0.2s;
    }

    .two span:nth-child(3) {
      transition: 0.3s;
    }

    .two span:nth-child(4) {
      transition: 0.4s;
    }

    .two span:nth-child(5) {
      transition: 0.5s;
    }

    .two span:nth-child(6) {
      transition: 0.6s;
    }

    .two span:nth-child(7) {
      transition: 0.7s;
    }

    .two span:nth-child(8) {
      transition: 0.8s;
    }

    .two span:nth-child(9) {
      transition: 0.9s;
    }

    .two span:nth-child(10) {
      transition: 1s;
    }

    .two span:nth-child(11) {
      transition: 1.15s;
    }
  }

  @media screen and (max-width: 970px) {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1px 0.4fr;
    grid-template-areas:
      "left"
      "center"
      "right ";
    .left {
      grid-area: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        margin-bottom: 2em;
      }

      h5 {
        font-size: 6rem;
      }

      svg {
        width: 8.5em;
        height: 8.5em;
      }
    }

    .home-contact-separator {
      grid-area: center;
      height: 1px;
      width: 100%;
      margin: 0;
    }

    .right {
      grid-area: right;
    }
  }

  @media screen and (max-width: 585px) {
    .left {
      gap: 10em;
    }
    .right {
      gap: 4em;
    }
  }

  @media screen and (max-width: 443px) {
    .left h5 {
      font-size: 4rem;
    }
  }
}
